h1{
    color:tomato;
}

/* Barre de navigation */
nav{
    height: auto;
    font-size: 25px;
    background-color:dimgray;
}

/* Pour séparer les différents liens*/
nav a{
    background-color: dimgray;
    color:black;
}

/* Pour mettre en valeur la section qu'on va rediriger vers lorsqu'on met la souris dessus*/
nav a:hover {
    background-color: #ddd;
}


body{
    background-color: #282c34;
    order: 1;
}

p{
    font-size: 20px;
    color: white;
}

li a{
    color:skyblue;
}

table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
table, th ,td{
    border: 1px solid white;
    color: white;
    
}

label{
    color: white;
}

.error{
    color:red;
    font-size: large;
}